@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    overflow: hidden;
    background: rgb(55,100, 144);
}

h1{
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darksalmon;
}